.cards-container {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
  justify-content: center;
}

.dummy {
  height: 1px;
  width: 100%;
  opacity: 0;
}
